<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.catsoftware.adisyon">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Adisyon">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5791953598568781~8354400803"/>
        <activity android:name=".activities.ResetDBActivity" />
        <activity android:name=".activities.OrderDetailsOfDriverActivity" />
        <activity android:name=".activities.DeletedOrdersActivity" />
        <activity android:name=".activities.PaymentDriverActivity" />
        <activity android:name=".activities.OrderAddActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>